@{
    ViewData["Title"] = "MaintenanceRecord";
}
<div class="text-center">Welcome to the Maintenance Record Page!</div>

@model SE407_Fiori.MaintenanceRecordViewModel

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "MaintenanceRecord", FormMethod.Post))
            {
                <div class="formText two-col">
                    <div class="col1">
                        <!--Maintenance Projected Start-->
                        <div class="form-group">
                            <label>Maintenance Projected Start:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedStart)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedStart,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceProjectedStart"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Projected End-->
                        <div class="form-group">
                            <label>Maintenance Projected End:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedEnd)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedEnd,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceProjectedEnd"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Actual Start-->
                        <div class="form-group">
                            <label>Maintenance Actual Start:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceActualStart)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceActualStart,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceActualStart"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Actual End-->
                        <div class="form-group">
                            <label>Maintenance Actual End:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceActualEnd)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceActualEnd,
                                    new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceActualEnd"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Action Name DDL-->
                        <div class="form-group">
                            <label>Maintenance Action Name:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceActionId)*@
                            <select asp-for="@Model.NewMaintenanceRecord.MaintenanceActionId"
                                    asp-items="@Model.MaintenanceActions" class="form-control">
                                <option value="" selected>Choose Maintenance Action Name</option>
                            </select>
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceActionId"
                                  class="text-danger"></span>
                        </div>
                    </div><!--END OF COL1 SECTION-->
                    
                    <div class="col2">
                        <!--Maintenance Projected Cost-->
                        <div class="form-group">
                            <label>Maintenance Projected Cost:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedCost)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceProjectedCost,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceProjectedCost"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Actual Cost-->
                        <div class="form-group">
                            <label>Maintenance Actual Cost:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceActualCost)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceActualCost,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceActualCost"
                                  class="text-danger"></span>
                        </div>
                        <!--Maintenance Notes-->
                        <div class="form-group">
                            <label>Maintenance Notes:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.MaintenanceNotes)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.MaintenanceNotes,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.MaintenanceNotes"
                                  class="text-danger"></span>
                        </div>
                        <!--Inspector Notes-->
                        <div class="form-group">
                            <label>Inspector Notes:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceRecord.InspectorNotes)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceRecord.InspectorNotes,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceRecord.InspectorNotes"
                                  class="text-danger"></span>
                        </div>
                        <!--Inspectors Id DDL-->
                        <div class="form-group">
                            <label>Inspectors Organization Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.ConstructionDesignId)*@
                            <select asp-for="@Model.NewMaintenanceRecord.InspectorId"
                                    asp-items="@Model.Inspectors" class="form-control">
                                <option value="" selected>Choose Inspectors</option>
                            </select>
                            <span asp-validation-for="@Model.NewMaintenanceRecord.InspectorId"
                                  class="text-danger"></span>
                        </div>
                    </div><!--END COL2 SECTION-->
                </div><!--TWO-COL SECTION-->
                <!--Submit Button-->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-medium" />
                </div>
            }
        </div>
    </div><!-- END OF Maintenance Records INPUT FORM ROW -->
    <!-- Displays Maintenance Records Table From DB -->
    <h2>List of Maintenance Records</h2>
    <div class="tableMargin">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered tableSizeSM">
                    <tr>
                        <th>Maintenance Projected Start:</th>
                        <th>Maintenance Projected End:</th>
                        <th>Maintenance Actual Start:</th>
                        <th>Maintenance Actual End:</th>
                        <th>Maintenance Projected Cost:</th>
                        <th>Maintenance Notes:</th>
                        <th>Inspector Notes:</th>
                        <th>Update</th>
                        <th>Delete:</th>
                    </tr>

                    @foreach (var maintenanceRecords in Model.MaintenanceRecordList)
                    {
                        <tr>
                            <td>@maintenanceRecords.MaintenanceProjectedStart</td>
                            <td>@maintenanceRecords.MaintenanceProjectedEnd</td>
                            <td>@maintenanceRecords.MaintenanceActualStart</td>
                            <td>@maintenanceRecords.MaintenanceActualEnd</td>
                            <td>@maintenanceRecords.MaintenanceProjectedCost</td>
                            <td>@maintenanceRecords.MaintenanceNotes</td>
                            <td>@maintenanceRecords.InspectorNotes</td>
                            <td><a asp-action="Edit" asp-route-id="@maintenanceRecords.MaintenanceRecordId">Update</a></td>
                            <td><a asp-action="Delete" asp-route-id="@maintenanceRecords.MaintenanceRecordId" onclick='return confirm("Are your sure?");'>Delete</a></td>
                        </tr>
                    }
                </table>
            </div><!-- END OF TABLE RESPONSIVE-->
        </div><!--END OF SECOND ROW-->
    </div><!-- END OF TABLE MARGIN-->
</div><!-- END OF CONTAINER-FLUID-->