@model SE407_Fiori.BridgeViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Edit", "Bridge", FormMethod.Post))
            {
                <div class="formText two-col">
                    <div class="col1">
                        <!--Material Deisgn Id DDL-->
                        <div class="form-group">
                            <label>Material Design Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.MaterialDesignId)*@
                            <select asp-for="@Model.NewBridge.MaterialDesignId"
                                    asp-items="@Model.MaterialDesigns" class="form-control">
                                <option value="" selected>Choose Material Design</option>
                            </select>
                            <span asp-validation-for="@Model.NewBridge.MaterialDesignId"
                                  class="text-danger"></span>
                        </div>
                        <!--Construction Design Id DDL-->
                        <div class="form-group">
                            <label>Construction Design Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.ConstructionDesignId)*@
                            <select asp-for="@Model.NewBridge.ConstructionDesignId"
                                    asp-items="@Model.ConstructionDesigns" class="form-control">
                                <option value="" selected>Choose Construction Designs</option>
                            </select>
                            <span asp-validation-for="@Model.NewBridge.ConstructionDesignId"
                                  class="text-danger"></span>
                        </div>
                        <!--Functional Class Id DDL-->
                        <div class="form-group">
                            <label>Functional Class Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.FunctionalClassId)*@
                            <select asp-for="@Model.NewBridge.FunctionalClassId"
                                    asp-items="@Model.FunctionalClasses" class="form-control">
                                <option value="" selected>Choose Functional Classes</option>
                            </select>
                            <span asp-validation-for="@Model.NewBridge.FunctionalClassId"
                                  class="text-danger"></span>
                        </div>
                        <!--Status Code Id DDL-->
                        <div class="form-group">
                            <label>Status Code Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.StatusCodeId)*@
                            <select asp-for="@Model.NewBridge.StatusCodeId"
                                    asp-items="@Model.StatusCodes" class="form-control">
                                <option value="" selected>Choose Status Codes</option>
                            </select>
                            <span asp-validation-for="@Model.NewBridge.StatusCodeId"
                                  class="text-danger"></span>
                        </div>
                        <!--Counties Id DDL-->
                        <div class="form-group">
                            <label>County Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.CountyId)*@
                            <select asp-for="@Model.NewBridge.CountyId"
                                    asp-items="@Model.Counties" class="form-control">
                                <option value="" selected>Choose County</option>
                            </select>
                            <span asp-validation-for="@Model.NewBridge.CountyId"
                                  class="text-danger"></span>
                        </div>
                        <!--NbiNumber-->
                        <div class="form-group">
                            <label>NBI Number:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.NbiNumber)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.NbiNumber,
                                    new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.NbiNumber"
                                  class="text-danger"></span>
                        </div>
                        <!--Built-->
                        <div class="form-group">
                            <label>Built:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.Built)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.Built,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.Built"
                                  class="text-danger"></span>
                        </div>
                    </div><!-- ENDS COl1 SECTION-->
                    <!--Rating-->
                    <div class="col2">
                        <div class="form-group">
                            <label>Rating:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.Rating)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.Rating,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.Rating"
                                  class="text-danger"></span>
                        </div>
                        <!--RouteNumber-->
                        <div class="form-group">
                            <label>Route Number:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.RouteNumber)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.RouteNumber,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.RouteNumber"
                                  class="text-danger"></span>
                        </div>
                        <!--City-->
                        <div class="form-group">
                            <label>City:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.City)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.City,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.City"
                                  class="text-danger"></span>
                        </div>
                        <!--IntersectingFeature-->
                        <div class="form-group">
                            <label>Intersecting Feature:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.IntersectingFeature)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.IntersectingFeature,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.IntersectingFeature"
                                  class="text-danger"></span>
                        </div>
                        <!--CarriedFeature-->
                        <div class="form-group">
                            <label>Carried Feature:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.CarriedFeature)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.CarriedFeature,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.CarriedFeature"
                                  class="text-danger"></span>
                        </div>
                        <!--Location-->
                        <div class="form-group">
                            <label>Location:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.Location)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.Location,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.Location"
                                  class="text-danger"></span>
                        </div>
                        <!--Reconstructed-->
                        <div class="form-group">
                            <label>Reconstructed:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.Reconstructed)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.Reconstructed,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.Reconstructed"
                                  class="text-danger"></span>
                        </div>
                        <!--TotalLength-->
                        <div class="form-group">
                            <label>Total Length:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.TotalLength)*@
                            @Html.TextBoxFor(Model => Model.NewBridge.TotalLength,
                            new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewBridge.TotalLength"
                                  class="text-danger"></span>
                        </div>
                    </div><!--ENDS COL2 SECTION-->
                </div><!--END TWO COL-->
                    <!--Submit Button-->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-medium" />
                    <div class="btn  btn-medium">
                        @Html.ActionLink("Back to Bridges", "Index")
                    </div>
                </div>
            }
        </div>
    </div><!-- END OF Bridge INPUT FORM ROW -->
</div>