@{
    ViewData["Title"] = "Inspection";
}

<div class="text-center">Welcome to the Inspection Page!</div>

@model SE407_Fiori.InspectionViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "Inspection", FormMethod.Post))
            {
                <div class="formText two-col">
                    <div class="col1">
                        <!--Bridge Id DDL-->
                        <div class="form-group">
                            <label>Bridge Id:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.MaterialDesignId)*@
                            <select asp-for="@Model.NewInspection.BridgeId"
                                    asp-items="@Model.Bridges" class="form-control">
                                <option value="" selected>Choose Bridges</option>
                            </select>
                            <span asp-validation-for="@Model.NewInspection.BridgeId"
                                  class="text-danger"></span>
                        </div>
                        <!--InspectorOrg DDL-->
                        <div class="form-group">
                            <label>Inspectors Organization:</label>
                            @*@Html.LabelFor(Model => Model.NewBridge.ConstructionDesignId)*@
                            <select asp-for="@Model.NewInspection.InspectorId"
                                    asp-items="@Model.Inspectors" class="form-control">
                                <option value="" selected>Choose Inspectors Organization</option>
                            </select>
                            <span asp-validation-for="@Model.NewInspection.InspectorId"
                                  class="text-danger"></span>
                        </div>
                        <!--DeckInspectoinCodeId DDL-->
                        <div class="form-group">
                            <label>Deck Inspectoin Code Id:</label>
                            @*@Html.LabelFor(Model => Model.NewInspection.DeckInspectoinCodeId)*@
                            <select asp-for="@Model.NewInspection.DeckInspectoinCodeId"
                                    asp-items="@Model.InspectionCodes" class="form-control">
                                <option value="" selected>Choose Deck Inspections</option>
                            </select>
                            <span asp-validation-for="@Model.NewInspection.DeckInspectoinCodeId"
                                  class="text-danger"></span>
                        </div>

                        <!--SubstructureInspectionCodeId DDL-->
                        <div class="form-group">
                            <label>Substructure Inspection Code Id:</label>
                            @*@Html.LabelFor(Model => Model.NewInspection.DeckInspectoinCodeId)*@
                            <select asp-for="@Model.NewInspection.SubstructureInspectionCodeId"
                                    asp-items="@Model.InspectionCodes" class="form-control">
                                <option value="" selected>Choose Substructure Inspections</option>
                            </select>
                            <span asp-validation-for="@Model.NewInspection.SubstructureInspectionCodeId"
                                  class="text-danger"></span>
                        </div>
                    </div><!--END OF COL1 Section-->
                    <div class="col2">
                        <!--Superstructure Inspection Code ID-->
                        <div class="form-group">
                            <label>Superstructure Inspection Code Id:</label>
                            @*@Html.LabelFor(Model => Model.NewInspection.DeckInspectoinCodeId)*@
                            <select asp-for="@Model.NewInspection.SuperstructureInspectionCodeId"
                                    asp-items="@Model.InspectionCodes" class="form-control">
                                <option value="" selected>Choose Superstructure Inspections</option>
                            </select>
                            <span asp-validation-for="@Model.NewInspection.SuperstructureInspectionCodeId"
                                  class="text-danger"></span>
                        </div>
                        <!--Inspection Date-->
                        <div class="form-group">
                            <label>Inspection Date:</label>
                            @*@Html.LabelFor(Model => Model.NewInspection.InspectionDate)*@
                            @Html.TextBoxFor(Model => Model.NewInspection.InspectionDate,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewInspection.InspectionDate"
                                  class="text-danger"></span>
                        </div>
                        <!--Inspection Notes-->
                            <div class="form-group">
                                <label>Inspection Notes</label>
                                @*@Html.LabelFor(Model => Model.NewInspection.InspectionNotes)*@
                                @Html.TextBoxFor(Model => Model.NewInspection.InspectionNotes,
                                     new { @class = "form-control" })
                                <span asp-validation-for="@Model.NewInspection.InspectionNotes"
                                      class="text-danger"></span>
                            </div>
                    </div><!--END COL2 SECTION-->
                </div>
                    <!--Submit Button-->
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-info btn-medium" />
                    </div>
            }
    </div><!-- END OF Inspection INPUT FORM ROW -->
    <!-- Displays Inspection Table From DB -->
    <h2>List of Inspections</h2>
    <div class="tableMargin">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered tableSizeSM">
                    <tr>
                        <th>Deck ID:</th>
                        <th>Substructure ID:</th>
                        <th>Superstructure ID:</th>
                        <th>Inspection Date:</th>
                        <th>Inspection Notes:</th>
                        <th>Update:</th>
                    </tr>

                    @foreach (var inspection in Model.InspectionList)
                    {
                        <tr>
                            <td>
                                @if (inspection.DeckInspectoinCodeId != null)
                                {
                                    @Model.InspectionCodes.Where(
                                    d => d.Value == inspection.DeckInspectoinCodeId.ToString()).FirstOrDefault().Text;
                                }
                            </td>
                            <td>
                                @if (inspection.SubstructureInspectionCodeId != null)
                                {
                                    @Model.InspectionCodes.Where(
                                    d => d.Value == inspection.SubstructureInspectionCodeId.ToString()).FirstOrDefault().Text;
                                }
                            </td>
                            <td>
                                @if (inspection.SuperstructureInspectionCodeId != null)
                                {
                                    @Model.InspectionCodes.Where(
                                    d => d.Value == inspection.SuperstructureInspectionCodeId.ToString()).FirstOrDefault().Text;
                                }
                            </td>
                            <td>@inspection.InspectionDate</td>
                            <td>@inspection.InspectionNotes</td>
                            <td><a asp-action="Edit" asp-route-id="@inspection.InspectionId">Update</a></td>
                        </tr>
                    }
                </table>
            </div><!-- END OF TABLE RESPONSIVE-->
        </div><!--END OF SECOND ROW-->
    </div><!-- END OF TABLE MARGIN-->
</div><!-- END OF CONTAINER-FLUID-->