@{
    ViewData["Title"] = "Maintenance Action";
}
<div class="text-center">Welcome to the Maintenance Action Page!</div>

@model SE407_Fiori.MaintenanceActionViewModel

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "MaintenanceAction", FormMethod.Post))
            {
                <div class="formText two-col">
                    <!--MaintenanceAction Name-->
                    <div class="col1">
                        <div class="form-group">
                            <label>Maintenance Action Name:</label>
                            @*@Html.LabelFor(Model => Model.NewMaintenanceAction.MaintenanceActionName)*@
                            @Html.TextBoxFor(Model => Model.NewMaintenanceAction.MaintenanceActionName,
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewMaintenanceAction.MaintenanceActionName"
                                  class="text-danger"></span>
                        </div>
                    </div>
                </div>
                    <!--Submit Button-->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-medium" />
                </div>
            }
        </div>
    </div><!-- END OF Maintenance Action INPUT FORM ROW -->
    <!-- Displays Maintenance Action Table From DB -->
    <h2>List of Maintenance Actions</h2>
    <div class="tableMargin">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered tableSizeSM">
                    <tr>
                        <th>Maintenance Action ID:</th>
                        <th>Maintenance Action Name:</th>
                        <th>Update:</th>
                        <th>Delete:</th>
                    </tr>

                    @foreach (var maintenanceAction in Model.MaintenanceActionList)
                    {
                        <tr>
                            <td>@maintenanceAction.MaintenanceActionId</td>
                            <td>@maintenanceAction.MaintenanceActionName</td>
                            <td><a asp-action="Edit" asp-route-id="@maintenanceAction.MaintenanceActionId">Update</a></td>
                            <td><a asp-action="Delete" asp-route-id="@maintenanceAction.MaintenanceActionId" onclick='return confirm("Are your sure?");'>Delete</a></td>
                        </tr>
                    }
                </table>
            </div><!-- END OF TABLE RESPONSIVE-->
        </div><!--END OF SECOND ROW-->
    </div><!-- END OF TABLE MARGIN-->
</div><!-- END OF CONTAINER-FLUID-->