@{
    ViewData["Title"] = "Functional Class";
}
<div class="text-center">Welcome to the Functional Class Page!</div>

@model SE407_Fiori.FunctionalClassViewModel

@if (TempData["ResultMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">
        @TempData["ResultMessage"]
    </p>
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Index", "FunctionalClass", FormMethod.Post))
            {
                <div class="formText two-col">
                    <!--Functional Class Type-->
                    <div class="col1">
                        <div class="form-group">
                            <label>Functional Class Type:</label>
                            @*@Html.LabelFor(Model => Model.NewFunctionalClass.FunctionalClassType)*@
                            @Html.TextBoxFor(Model => Model.NewFunctionalClass.FunctionalClassType, 
                                new { @class = "form-control" })
                            <span asp-validation-for="@Model.NewFunctionalClass.FunctionalClassType"
                                  class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Submit Button-->
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-info btn-medium" />
                </div>
            }
        </div>
    </div><!-- END OF Functional Class INPUT FORM ROW -->
    <!-- Displays Functional Class Table From DB -->
    <h2>List of Functional Class Types</h2>
    <div class="tableMargin">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered tableSizeSM">
                    <tr>
                        <th>Functional Class ID:</th>
                        <th>Functional Class Types:</th>
                        <th>Update:</th>
                        <th>Delete:</th>
                    </tr>

                    @foreach (var functionClass in Model.FunctionalClassList)
                    {
                        <tr>
                            <td>@functionClass.FunctionalClassId</td>
                            <td>@functionClass.FunctionalClassType</td>
                            <td><a asp-action="Edit" asp-route-id="@functionClass.FunctionalClassId">Update</a></td>
                            <td><a asp-action="Delete" asp-route-id="@functionClass.FunctionalClassId" onclick='return confirm("Are your sure?");'>Delete</a></td>
                        </tr>
                    }
                </table>
            </div><!-- END OF TABLE RESPONSIVE-->
        </div><!--END OF SECOND ROW-->
    </div><!-- END OF TABLE MARGIN-->
</div><!-- END OF CONTAINER-FLUID-->